/* Styles for the createNewEvent form */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}
input[type='text'],
input[type='date'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box; /* Ensure padding and border fit within the specified width */
}

input[type='text']:focus,
input[type='date']:focus {
  border-color: #007bff;
}

button[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

/* Button styles for Home and All Events */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 1rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
}

.button:hover {
  background-color: #0056b3;
}
