/* Styles for the sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  overflow-y: auto; /* Make the content within the sidebar scrollable */
}

.sidebar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners on the thumb */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Color on hover */
}

.category-list {
  list-style: none;
  padding: 0;
}

.category-list li {
  margin-bottom: 10px;
}

/* Styles for the main content area */
.main-content {
  margin-left: 220px; /* Adjust for the width of the sidebar */
  padding: 20px;
}

/* Event card styles */
.event-card {
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.event-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.event-card h2 {
  font-size: 24px;
  margin: 0;
}

.event-card p {
  margin: 10px 0;
}

/* Filter section styles */
.filter-section {
  margin-bottom: 20px;
}

select,
input[type='radio'] {
  margin-right: 10px;
}
.button {
  padding: 5px 10px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
}

.button:hover,
.view-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}
.view-button {
  padding: 5px 10px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  margin: 0.5rem 0 -0.2rem 0;
}

/* Styles for the scroll-down button */
.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0056b3;
  color: #fff;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.scroll-button:hover {
  background-color: #001c3a;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .sidebar {
    display: none; /* Hide the sidebar on small screens */
  }

  .main-content {
    margin-left: 0;
  }
}
