<!DOCTYPE html>
<html>
  <head>
    <title>Event Management Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to the Event Management Website</h1>
    <!-- <h3>Dont look around save your seat now!</h3> -->
    <a href="/events" class="button">All Events</a>
  </body>
</html>
